.dashboard__container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 80px 96px;
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dashboard__welcome {
  font-size: 2em;
}

.dashboard__header .button__container {
  width: 16%;
}

.orders__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.orders__form .input__container:nth-child(2),
.orders__form .input__container:nth-child(3) {
  width: 60%;
}

.dashboard__modal-container {
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders__form {
  background-color: #fafafa;
  padding: 80px 96px;
  border: 4px solid #153346;
}
